<div class="comment-container row">
	<div  class="col-sm-12">
		<div class="suggestion-content-container col-sm-12">
			<p>
				<span class="author suggestion-author">{{suggestion.authorName}}</span>			
				<span class="title suggestion-title"> - {{suggestion.title}}</span>
			</p>
			<span class="suggestion-divider"></span>
		</div>
		<comment ng-repeat="comment in comments | filter:{'deleted' : 'false'}"></comment>						
	</div>
</div>
<form class="form-comment" ng-show="main.users.variables.currentUser.name" ng-submit="addComment()">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Comment here" ng-model="body"></input>
	</div>
	<button type="submit" class="btn btn-primary">Add</button>
</form>

