<div class="comment-container row">
	<div  class="col-sm-12">
		<div class="suggestion-content-container col-sm-12">
			<p>
				<span class="author suggestion-author">{{suggestion.authorName}}</span>			
				<span class="suggestion-title"> - {{suggestion.title}}</span>
			</p>
			<span class="suggestion-divider"></span>
		</div>
		<div ng-repeat="comment in comments | filter:{'deleted' : 'false'}" class="comment">
			<p>				
				<span class="author comment-author">{{comment.authorName}}</span>			
				<span class="comment-title"> - {{comment.body}}</span>
			</p>
				<span class="comment-divider"></span>
			<p>
				<span class="glyphicon glyphicon-thumbs-up"></span>
				{{comment.votes}}
				<span class="glyphicon glyphicon-plus-sign"			ng-show="!(main.getCurrentUserItemScore(comment,'comment') > 0) && main.data.currentUser.id != comment.authorId && main.data.currentUser.id" ng-click="vote(comment,'up')"></span>
				<span class="glyphicon glyphicon-minus-sign" ng-show="!(main.getCurrentUserItemScore(comment,'comment') < 0) && main.data.currentUser.id != comment.authorId && main.data.currentUser.id" ng-click="vote(comment,'down')"></span>
			</p>
		</div>							
	</div>
</div>
<form class="form-comment" ng-show="main.data.currentUser.name" ng-submit="addComment()">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Comment here" ng-model="body"></input>
	</div>
	<button type="submit" class="btn btn-primary">Add</button>
</form>

